*{
  font-family: "Rubik",sans-serif ;
  color: #393c41;
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*Remaining*/
}

body{
  width: 100%;
}



@keyframes animateDown {

  0%, 20%, 50%, 60%, 70%
  
}